[submodule "quick-gari"]
	path = quick-gari
	url = git@shahin.github.com:shahinali-dev/quick-gari.git
[submodule "quick-gari-dashboard"]
	path = quick-gari-dashboard
	url = git@shahin.github.com:shahinali-dev/quick-gari-dashboard.git
